/.nuxt
/.output
/node_modules

.git
.gitignore
.prettierrc.json
eslint.config.mjs
README.md
LICENSE
.vscode
Makefile
helm-charts
.editorconfig
.idea
coverage*

Dockerfile
docker-compose*
.dockerignore